/* IMAGEN DE FONDO TODAS LAS PAGINAS */

body {
  background-color: aliceblue;
  background-image: url("../assets/images/white.jpg");
  text-align: center;
}

/* LOGO SIDERBAR */

.container-logo {
  /* background-color: #9fc5ab8f; */
  background-color: rgba(240, 248, 255, 0.637);
  padding: 3px 15px 3px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-logo .logo {
  /* background-color: aliceblue; */
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px;
  border-radius: 5px;
  /* border: 1px solid #f2f2f2; */
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  width: 150px;
}

.logo {
  background-color: aliceblue;
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

/* COMPONENTE LOGIN */

.LogIn {
  width: 18rem;
}

.avatar {
  margin-top: 6px;
  margin-bottom: 6px;
}

.container-logIn {
  background-image: url(../assets/images/wallpapernight.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 3px 15px 3px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title-login {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card-text-login {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}

/* NAVBAR-SIDEBAR */

.offcanvas {
  background-image: url("../assets/images/wallpaperwaves.jpg");
  width: fit-content;
  /* text-align: center; */
}

/* FOOTER */

/* Cambian todas las tablas de la pagina */

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(0, 0, 0, 1);
  color: #c4d1df;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #eceff1;
}


.cursor-pointer {
  cursor: pointer;
}

/* Estilos para el boton que contiene íconos */
tr td button {
  outline: inherit;
  margin: 0 2px 0 2px;
  border-width: 0.2vh;
  border-radius: 50%;
}
