/* Contenedor principal */
.container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #ccc;
}

/* separador */

.seperator {
  border-bottom: 3px solid #ccc;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* Estilos para la fecha */

.div-date {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

input:invalid + span {
  position: relative;
}

input:invalid + span:after {
  content: "✖";
  padding-left: 5px;
}

input:valid + span {
  position: relative;
}

input:valid + span:after {
  content: "✓";
  padding-left: 5px;
}
